[submodule "lib/SerialStream"]
	path = lib/SerialStream
	url = https://github.com/Nikfinn99/SerialStream.git
[submodule "lib/Point"]
	path = lib/Point
	url = https://github.com/Nikfinn99/Point.git
[submodule "lib/Filter"]
	path = lib/Filter
	url = https://github.com/Nikfinn99/Filter.git
